<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
<script src="javascripts/trip_forms.js"> </script>
<script src="javascripts/trip.js"> </script>

<!-- Select Attractions Page ---------------------------------- -->

<div data-role="page" id="attractions" data-theme="a">
	
	<!-- /header -->
	<div data-role="header" data-id="attractionsBar" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<% for (name1 in categoryMap) { %>
					<% var link = "#" + name1 %>
					<li><a href = '<%= link %>' class="ui-state-persist"><%= name1 %></a></li>
				<% } %>
			</ul>
		</div>
	</div>

</div>



<% for (name in categoryMap) { %>
<div data-role="page" id='<%= name %>' data-theme="a">
	
	<!-- /header -->
	<div data-role="header" data-id="attractionsBar" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<% for (name2 in categoryMap) { %>
					<% var link = "#" + name2 %>
					<li><a href='<%=link%>' class="ui-state-persist"><%= name2 %></a></li>
				<% } %>
			</ul>
		</div>
	</div>
	
		<% for (var i = 0; i < categoryMap[name].length; i++) { %>
			<% console.log(categoryMap[name][i]); %>
			<label><input type="checkbox" id="<%= categoryMap[name][i] %>"><%= categoryMap[name][i] %></label>
		<% } %>
		<% console.log('category = ' + name); %>
		<input type="submit" value="Plan now!" class="attractionsForm" />
</div>
<% } %>



		


